<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/Stylo.css">
</head>
<body>
    <header>
        <div class="navegador">
            <h1 class="logo">
                <img src="../img/lobomarino.png" alt="">
            </h1>

            <nav>
                <ul>
                    <li class="listas"><a href="../../Index.html">INICIO</a></li>
                    <li class="listas"><a href="../views/Galeria.html">GALERIA</a></li>
                    <li class="listas"><a href="#">CONTACTANOS</a></li>
                    <li class="listas"><a href="#">REDES</a></li>
                </ul>
            </nav>

        </div>
    </header>
    <main>
        <div class="fotoportada">
            <img src="../img/amanecer.JPG" alt="mardelplata">
        </div>
    </main>

    

    <section class="contenidos">
        <h1>Amanecer en la ciudad</h1>
        <p>Ver el amanecer en Mar del Plata es una experiencia mágica que combina la belleza natural con la tranquilidad del mar.</p>

        <ul>
            <li>Paisaje Único: El sol emergiendo detrás del horizonte marino crea un espectáculo visual impresionante. Las tonalidades cálidas y los reflejos en el agua son inolvidables.</li>
            <li>Energía Renovadora: Observar el amanecer te llena de energía positiva para enfrentar el día. Es como un reinicio natural para cuerpo y mente.</li>
            <li>Fotografía Perfecta: Si eres amante de la fotografía, el amanecer en Mar del Plata ofrece oportunidades únicas. Captura los colores cambiantes del cielo y comparte tus fotos con otros.</li>
            <li>Momento Tranquilo: A veces, solo quieres sentarte y contemplar la belleza del mundo. El amanecer es un momento perfecto para hacerlo.</li>
            <li>Lugares Ideales: Las playas del sur de Mar del Plata son especialmente mágicas al amanecer. Son menos concurridas y ofrecen una atmósfera relajada.</li>
        </ul>

    </section>

    <footer>
        <div class="footer">
            <p>&copy; 2024 Nicolas Sosa</p>
        </div>
    </footer>
</body>
</html>