<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/Stylo.css">
    
</head>
<body>
    <header>
        <div class="navegador">
            <h1 class="logo">
                <img src="../img/lobomarino.png" alt="">
            </h1>

            <nav>
                <ul>
                    <li class="listas"><a href="../../Index.html">INICIO</a></li>
                    <li class="listas"><a href="#">GALERIA</a></li>
                    <li class="listas"><a href="#">CONTACTANOS</a></li>
                    <li class="listas"><a href="#">REDES</a></li>
                </ul>
            </nav>

        </div>
    </header>
        <h2 class="titulodepagina">Galeria</h2>
        <section class="imagenesdegaleria">
            <a href="#imagen1"><img src="../img/amanecer.JPG" alt=""></a>
            <a href="#imagen2"><img src="../img/balneareos.JPG" alt=""></a>
            <a href="#imagen3"><img src="../img/candados.JPG" alt=""></a>
            <a href="#imagen4"><img src="../img/barcos.JPG" alt=""></a>
            <a href="#imagen5"><img src="../img/havana.JPG" alt=""></a>
            <a href="#imagen6"><img src="../img/lobitos.JPG" alt=""></a>
            <a href="#imagen7"><img src="../img/playa.JPG" alt=""></a>
            <a href="#imagen8"><img src="../img/puntamogotes.JPG" alt=""></a>
            <a href="#imagen9"><img src="../img/sanmartin.JPG" alt=""></a>
        </section>

        <article class="caja" id="imagen1">
            <a href="#imagen9" class="anterior"><</a>
            <img src="../img/amanecer.JPG" alt="">
            <a href="#imagen2" class="siguiente"> > </a>
            <a href="#" class="cerrar">X</a>
        </article>
        <article class="caja" id="imagen2">
            <a href="#imagen1" class="anterior"><</a>
            <img src="../img/balneareos.JPG" alt="">
            <a href="#imagen3" class="siguiente"> > </a>
            <a href="#" class="cerrar">X</a>
        </article>
        <article class="caja" id="imagen3">
            <a href="#imagen2" class="anterior"><</a>
            <img src="../img/candados.JPG" alt="">
            <a href="#imagen4" class="siguiente"> > </a>
            <a href="#" class="cerrar">X</a>
        </article>
        <article class="caja" id="imagen4">
            <a href="#imagen3" class="anterior"><</a>
            <img src="../img/barcos.JPG" alt="">
            <a href="#imagen5" class="siguiente"> > </a>
            <a href="#" class="cerrar">X</a>
        </article>
        <article class="caja" id="imagen5">
            <a href="#imagen4" class="anterior"><</a>
            <img src="../img/havana.JPG" alt="">
            <a href="#imagen6" class="siguiente"> > </a>
            <a href="#" class="cerrar">X</a>
        </article>
        <article class="caja" id="imagen6">
            <a href="#imagen5" class="anterior"><</a>
            <img src="../img/lobitos.JPG" alt="">
            <a href="#imagen7" class="siguiente"> > </a>
            <a href="#" class="cerrar">X</a>
        </article>
        <article class="caja" id="imagen7">
            <a href="#imagen6" class="anterior"><</a>
            <img src="../img/playa.JPG" alt="">
            <a href="#imagen8" class="siguiente"> > </a>
            <a href="#" class="cerrar">X</a>
        </article>
        <article class="caja" id="imagen8">
            <a href="#imagen7" class="anterior"><</a>
            <img src="../img/puntamogotes.JPG" alt="">
            <a href="#imagen9" class="siguiente"> > </a>
            <a href="#" class="cerrar">X</a>
        </article>
        <article class="caja" id="imagen9">
            <a href="#imagen8" class="anterior"><</a>
            <img src="../img/sanmartin.JPG" alt="">
            <a href="#imagen1" class="siguiente"> > </a>
            <a href="#" class="cerrar">X</a>
        </article>

        <footer>
            <div class="footer">
                <p>&copy; 2024 Nicolas Sosa</p>
            </div>
        </footer>
    
</body>
</html>